// CSS for anything that is considered header

.bannerAd {
    width: 100%;
    min-height: 42px;
    position: relative;
    background-color: $marine;
    display: flex;
    top: 0;
    overflow: hidden;
    transition: all .8s ease-in-out;


    &__message {
        display: flex;
        font-size: 15px;
        color: $white;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        &__cr {
            font-size: 13px;
        }

        p {
            margin-bottom: 0px;

        }

        .smart {
            font-weight: bolder;
        }

        &__shopNow {
            color: $white;
            margin-bottom: 0px;
            margin: 0px 8px 0px 8px;
            font-weight: bolder;
        }

        &__seeDetails {
            color: $white;
            margin-bottom: 0px;
        }


    }

    &__close {
        margin-right: 20px;
        margin-left: 20px;
        min-height: 42px;
        height: 100%;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        :hover {
            cursor: pointer;
        }

        &__button {
            width: 100%;
            filter: $filterWhite;
        }
    }
}

.test {
    height: 0px;
    min-height: 0px;
    top: 100%;
    transition: all .8s ease-in-out;
}

.mobileMenuView {
    display: none;
}

.keurigHeader {
    background-color: $burg;

    letter-spacing: 1px;

    &__topNav {
        display: flex;
        flex: wrap;
        justify-content: space-between;
        align-items: center;
        min-height: 91px;
        margin: 0px 40px 0px 40px;

        &__mainButton {
            &__logo {
                width: 175px;
                filter: $filterBlack;
            }
        }

        &__searchBar {
            min-width: 600px;
            background-color: $secondWhite;
            padding: 5px 30px 5px 30px;
            border-radius: 25px;
            display: flex;
            flex: wrap;
            justify-content: center;
            align-items: center;
            border: 1px solid $gray;
            margin: 0px 5px 0px 5px;

            img {
                filter: $filterBlack;
                padding-right: 10px;
            }

            img:hover {
                cursor: pointer;
            }

            input {
                width: 100%;
                padding: 0px 5px 0px 5px;
                border: none;
                color: $black;
                font-size: 13px;
                background-color: $secondWhite ;
                line-height: 15px;
                display: table-cell;
                vertical-align: middle;
            }

            input:focus {
                font-size: 13px;
                border: none;
                outline: none;
            }

            ::placeholder {
                color: $black;
                opacity: 1;
                font-size: 13px;
            }
        }

        &__extraRight {
            display: flex;
            flex: wrap;
            justify-content: center;
            align-items: center;

            button {
                letter-spacing: 3px;
            }

            &__freeShipping {
                border: none;
                background-color: transparent;
                padding: 0px 25px 0px 25px;
                font-size: 13px;
                margin-bottom: 0px;
                line-height: 15px;
                text-align: center;
                display: table-cell;
            }

            &__freeShipping:hover {
                cursor: pointer;
            }


            &__profile,
            &__cart,
            &__signOut,
            &__account {
                position: relative;
                padding: 8px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 10px;

                img {
                    width: 32px;
                    height: 32px;
                    filter: $filterBlack;
                }

                p {
                    color: $black;
                    width: 100%;
                    margin: auto;
                    font-size: 13px;
                }

                &__count {
                    display: none;
                    position: absolute;
                    padding: 3px;
                    background-color: $brown;
                    color: $white !important;
                    font-size: 15px;
                    width: 20px;
                    height: 20px;
                    right: 0;
                    margin-bottom: 0px;
                    border-radius: 25px;
                    text-align: center;
                    line-height: 16px;
                    vertical-align: middle;
                }

            }

            &__cart {
                display: flex;
            }

            &__signOut {
                display: none;
                margin-right: 10px;
            }

            &__account {
                display: none;
                margin-right: 10px;
            }

            &__profile {
                margin: 0px 20px 0px 20px;
                display: flex;
            }

            &__profile:hover,
            &__cart:hover,
            &__signOut:hover,
            &__account:hover {
                cursor: pointer;
                background-color: $lightBiege;
            }

        }
    }

    &__bottomNav {
        height: 100%;
        margin: 0px 40px 0px 40px;
        padding: 0px 0px 10px 0px;
        display: flex;
        flex: wrap;
        justify-content: flex-start;
        align-items: center;

        a {
            overflow: hidden;
            position: relative;
            font-size: 16px;
            color: $black;
            text-decoration: none;
            padding: 15px;
            border-radius: 25px;
            background-color: transparent !important;
            z-index: 1;
            transition: .3s ease-in-out;
            margin-right: 23px;

            span {
                position: relative;
                z-index: 1;
            }

            &:hover {

                color: $brown;
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 0%;
                height: 0%;
                z-index: 0;
                border-radius: 25px;
                background-color: $white;
                transition: all .4s ease-in-out;
            }

            &:hover::before {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

        }

        &__mobileSearch {
            display: none;
        }

        &__mobileDeal {
            display: none;
        }

        img {
            width: 14px;
            margin-right: 5px;
        }

        .remove1 {
            color: $red;
        }

        .remove2 {
            img {
                filter: $filterBlack;
            }
        }
    }
}

@media screen and (max-width: 1750px) {
    .keurigHeader {
        &__bottomNav {
            a {
                font-size: 14px;
                padding: 15px 13px 15px 13px;
                margin-right: 18px;
            }
        }
    }
}

@media screen and (max-width: 1650px) {
    .keurigHeader {
        &__topNav {
            &__mainButton {
                &__logo {
                    width: 170px;
                }
            }

            &__searchBar {
                min-width: 570px;
                padding: 5px 27.5px 5px 27.5px;

                img {
                    scale: .95;
                }

                input {
                    font-size: 12px;
                    line-height: 14px;
                }

                input:focus {
                    font-size: 12px;
                }

                ::placeholder {
                    font-size: 12px;
                }
            }

            &__extraRight {
                &__freeShipping {
                    font-size: 12px;
                }

                &__profile,
                &__cart,
                &__signOut,
                &__account {
                    img {
                        width: 30px;
                        height: 30px;
                    }

                    p {
                        font-size: 12px;
                    }
                }
            }
        }

        &__bottomNav {
            a {
                font-size: 13px;
                padding: 14px 13px 14px 13px;
                margin-right: 17px;

            }
        }
    }
}

@media screen and (max-width: 1550px) {
    .keurigHeader {
        &__bottomNav {
            .remove1 {
                display: none;
            }

            .remove2 {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .bannerAd {
        min-height: 38px;

        &__message {
            font-size: 13.5px;

            &__cr {
                font-size: 12px;
            }
        }

        &__close {
            min-height: 38px;
            width: 18px;
        }
    }

    .keurigHeader {
        &__topNav {
            min-height: 80px;

            &__searchBar {
                min-width: 550px;
                padding: 4px 25px 4px 25px;

                img {
                    scale: .75;
                }
            }

            &__extraRight {
                &__freeShipping {
                    padding: 0px 20px 0px 20px;
                    font-size: 11px;
                }

            }
        }

        &__bottomNav {
            padding: 0px 0px 8px 0px;

            a {
                font-size: 12.5px;
                margin-right: 16px;
                padding: 13px;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .keurigHeader {
        &__topNav {
            &__mainButton {
                &__logo {
                    width: 160px;
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .keurigHeader {
        &__topNav {
            &__mainButton {
                &__logo {
                    width: 155px;
                }
            }

            &__searchBar {
                min-width: 475px;
                padding: 2px 20px 2px 20px;

                img {
                    scale: .65;
                }

                input {
                    font-size: 11px;
                    line-height: 13px;
                }
            }

            &__extraRight {
                &__freeShipping {
                    font-size: 11.5px;
                    padding: 0px 16px 0px 16px;
                }

                &__profile,
                &__cart,
                &__signOut,
                &__account {
                    img {
                        width: 24px;
                        height: 24px;
                    }

                    p {
                        font-size: 11px;
                    }

                    &__count {
                        width: 18px;
                        height: 18px;
                        line-height: 14px;
                        font-size: 10px;
                    }
                }
            }
        }

        &__bottomNav {
            padding: 0px 0px 8px 0px;

            a {
                font-size: 12.5px;
                margin-right: 14px;
                padding: 12px;
            }
        }
    }
}

@media screen and (max-width: 1225px) {
    .bannerAd {
        min-height: 33px;

        &__message {
            font-size: 12.5px;

            &__cr {
                font-size: 11px;
            }
        }

        &__close {
            min-height: 33px;
            width: 18px;
        }
    }

    .keurigHeader {
        &__topNav {
            min-height: 70px;

            &__mainButton {
                &__logo {
                    width: 150px;
                }
            }

            &__searchBar {
                min-width: 465px;
                padding: 0px 18px 0px 18px;

                img {
                    scale: .65;
                }

                input {
                    font-size: 11px;
                    line-height: 13px;
                }
            }

            &__extraRight {
                &__freeShipping {
                    font-size: 10px;
                    padding: 0px 14px 0px 14px;
                }

                &__profile,
                &__cart,
                &__signOut,
                &__account {
                    img {
                        width: 22px;
                        height: 22px;
                    }

                    p {
                        font-size: 10px;
                    }
                }
            }
        }

        &__bottomNav {
            padding: 0px 0px 8px 0px;

            a {
                font-size: 11px;
                margin-right: 12px;
                padding: 10px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .keurigHeader {
        &__topNav {
            margin: 0px 20px 0px 20px;

        }

        &__bottomNav {
            margin: 0px 20px 0px 20px;
        }
    }
}

@media screen and (max-width: 1125px) {
    .keurigHeader {
        &__topNav {
            &__mainButton {
                &__logo {
                    width: 145px;
                }
            }

            &__searchBar {
                min-width: 430px;
                padding: 0px 15px 0px 15px;
            }

            &__extraRight {
                &__freeShipping {
                    font-size: 10px;
                    padding: 0px 8px 0px 8px;
                }

                &__profile,
                &__cart,
                &__signOut,
                &__account {
                    img {
                        width: 22px;
                        height: 22px;
                    }

                    p {
                        font-size: 10px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 1075px) {
    .keurigHeader {
        &__topNav {
            margin: 0px 14px 0px 14px;

            &__mainButton {
                &__logo {
                    width: 140px;
                }
            }

            &__searchBar {
                min-width: 415px;
                padding: 0px 14px 0px 14px;
            }

            &__extraRight {
                &__freeShipping {
                    font-size: 9px;
                    padding: 0px 8px 0px 8px;
                }

                &__profile,
                &__cart,
                &__signOut,
                &__account {
                    img {
                        width: 22px;
                        height: 22px;
                    }

                    p {
                        font-size: 10px;
                    }
                }
            }
        }

        &__bottomNav {
            margin: 0px 14px 0px 14px;

            a {
                font-size: 10.5px;
                margin-right: 12px;
                padding: 10px;
            }
        }
    }
}