// anything in structure sits at the very top of my css

@font-face {
    font-family: MarkOT-Medium;
    src: url(../css/fonts/MarkOT-Medium.ttf);
}

// color variables
$white: #fff;
$marine: #005f70;
$venus: #969091;
$burg: #ece9e4;
$amour: #efe8e9;
$nasturtium: #e6431e;
$black: #000000;
$secondWhite: #f3f3f3;
$gray: #c7c7c7;
$lightBiege: #f0f0f0;
$red: #cd2832;
$Nasturtium: #c60000;
$Red: #952023;
$Gold: #c4b8aa;
$brown: #592615;
$darkBrown: #3b2b2f;
$textBlack : #2d2a26;
$buttonYellow: #f9c507;
$blueDiscount: #007c91;
$textDealGrey: #706f73;
$couponRed: #5a0000;
$filterBlack: invert(0%) sepia(3%) saturate(13%) hue-rotate(77deg) brightness(97%) contrast(103%);
$filterWhite: invert(100%) sepia(35%) saturate(11%) hue-rotate(245deg) brightness(104%) contrast(103%);

:root {
    font-family: "MarkOT-Medium";
}

* {
    font-family: "MarkOT-Medium";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: $white;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 16px
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#app {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    min-height: 320px;
}

.accountContainer {
    display: none;
    position: absolute;
    width: 350px;
    right: 9.25%;
    top: 135px;
    z-index: 7;
    background-color: $white;
    border-radius: 9px;

    &:after {
        content: "";
        background-image: url('../images/28911.png');
        background-size: 100% 100%;
        filter: $filterWhite;
        width: 40px;
        height: 15px;
        display: block;
        position: absolute;
        top: -10px;
        right: 9%;
    }

    &__close {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 14px;
        padding: 20px 20px 0px 20px;

        i {
            display: block;
            background-image: url('../images/times-solid.svg');
            background-size: 100% 100%;
            filter: $filterBlack;
            width: 20px;
            height: 20px;
            margin-right: 10px;

            &:hover {
                cursor: pointer;
            }
        }

        p {
            font-size: 16px;
            line-height: 18px;
            display: table-cell;
            vertical-align: middle;
            margin-bottom: 0px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__info {
        width: 100%;
        padding: 20px 20px 20px 20px;
        display: flex;
        flex-direction: column;

        img {
            width: 50px;
            margin: 0px auto 20px auto;
        }

        p {
            margin-bottom: 10px;
            font-size: 14px;
        }

    }
}

.loginContainer {
    display: none;
    position: absolute;
    width: 350px;
    right: 5%;
    top: 135px;
    z-index: 7;
    background-color: $white;
    border-radius: 9px;

    &:after {
        content: "";
        background-image: url('../images/28911.png');
        background-size: 100% 100%;
        filter: $filterWhite;
        width: 40px;
        height: 20px;
        display: block;
        position: absolute;
        top: -10px;
        right: 9%;
    }

    &__close {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 14px;
        padding: 20px 20px 0px 20px;

        i {
            display: block;
            background-image: url('../images/times-solid.svg');
            background-size: 100% 100%;
            filter: $filterBlack;
            width: 20px;
            height: 20px;
            margin-right: 10px;

            &:hover {
                cursor: pointer;
            }
        }

        p {
            font-size: 16px;
            line-height: 18px;
            display: table-cell;
            vertical-align: middle;
            margin-bottom: 0px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__options {
        width: 100%;
        display: flex;
        padding: 0px 20px 0px 20px;

        button {
            width: 50%;
            font-size: 16px;
            padding: 8px 0px 8px 0px;
            background-color: $white;
            border: none;
            color: $textDealGrey;

            &:hover {
                text-decoration: underline;
            }
        }

        .lCSelected {
            background-color: $burg;
            color: $textBlack;

        }
    }

    &__formsSignup {
        padding: 15px 20px 15px 20px;
        position: relative;
        display: none;

        &:after {
            content: "";
            background-image: url('../images/28911.svg');
            background-size: 100% 100%;
            filter: $filterWhite;
            width: 20px;
            height: 20px;
            position: absolute;
            display: block;
            top: -18px;
            left: calc(75% - 20px);
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;

            .inputEnter {
                padding: 10px 12px 10px 12px;
                font-size: 15px;
                margin-bottom: 10px;
            }
        }

        &__checkbox,
        &__checkbox2 {
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 5px 0px 5px 0px;

            #checkboxSpecials,
            #checkboxKeep {
                width: 17px;
                height: 17px;
                margin-right: 8px;
            }

            label {
                color: $textDealGrey;
                font-size: 13px;
                line-height: 17px;
                display: table-cell;
                vertical-align: middle;
            }
        }


        &__signUp {
            background-color: $darkBrown;
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 15px;
            color: $white;
            border-radius: 25px;
            padding: 5px 0px 5px 0px;
            margin: 15px 0px 15px 0px;

            &:hover {
                cursor: pointer;
            }
        }

        p {
            margin-bottom: 0px;
            color: $textDealGrey;
            font-size: 14px;
            align-items: center;
            margin: auto;
            text-align: center;

            a {
                color: $brown;
            }
        }
    }

    &__formsLogin {
        padding: 15px 20px 15px 20px;
        position: relative;
        display: block;

        &:after {
            content: "";
            background-image: url('../images/28911.svg');
            background-size: 100% 100%;
            filter: $filterWhite;
            width: 20px;
            height: 20px;
            position: absolute;
            display: block;
            top: -18px;
            left: calc(25%);
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;

            .inputEnter {
                padding: 10px 12px 10px 12px;
                font-size: 15px;
                margin-bottom: 10px;
            }
        }

        &__checkbox {
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 5px 0px 5px 0px;

            #checkboxRemeber {
                width: 17px;
                height: 17px;
                margin-right: 8px;
            }

            label {
                color: $textDealGrey;
                font-size: 13px;
                line-height: 17px;
                display: table-cell;
                vertical-align: middle;
            }
        }

        &__signIn {
            background-color: $darkBrown;
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 15px;
            color: $white;
            border-radius: 25px;
            padding: 5px 0px 5px 0px;
            margin: 15px 0px 15px 0px;

            &:hover {
                cursor: pointer;
            }
        }

        &__forgotPass {
            border: none;
            text-decoration: underline;
            color: $blueDiscount;
            text-align: center;
            margin: 0px auto 0px auto;
            background-color: $white;
            width: 100%;

            &:hover {
                cursor: pointer;
            }

        }
    }

    &__formsSignUpInformation {
        width: 100%;
        padding: 20px 20px 10px 50px;
        display: none;
        flex-direction: column;
        justify-content: start;
        background-color: $burg;

        h1 {
            font-size: 14px;
            letter-spacing: 1px;
            margin-bottom: 5px;
        }

        p {
            font-size: 12px;
            margin-bottom: 0px;
            color: $textDealGrey;
            margin-bottom: 5px;
        }

        ul {
            list-style-type: none;
            font-size: 10px;
            color: $textDealGrey;
            text-indent: 15px;

            li {
                margin-bottom: 5px;
            }
        }

    }

    &__formsLoginInformation {
        width: 100%;
        padding: 20px 20px 10px 50px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        background-color: $burg;

        h1 {
            font-size: 14px;
            letter-spacing: 1px;
            margin-bottom: 5px;
        }

        p {
            font-size: 12px;
            margin-bottom: 0px;
            color: $textDealGrey;
            margin-bottom: 5px;
        }

        ul {
            list-style-type: none;
            font-size: 10px;
            color: $textDealGrey;
            text-indent: 15px;

            li {
                margin-bottom: 5px;
            }
        }

    }

    &__extra {
        width: 100%;
        padding: 20px 20px 20px 20px;
        display: flex;
        flex-direction: column;

        &__register {
            margin-bottom: 10px;
        }

        button {
            border-radius: 25px;
            background-color: $white;
            border: 2px solid $gray;
            color: $black;
            font-weight: bold;
            padding: 10px 0px 10px 0px;

            &:hover {
                background-color: $burg;
                border-color: $black;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.grayOverlay {
    display: none;
    position: absolute;
    width: 100%;
    height: calc(100% - 130px);
    top: 130px;
    z-index: 6;
    background-color: rgba(153, 153, 153, .5);
}

@media screen and (max-width: 1750px) {
    .accountContainer {
        &::after {
            right: 13%;
        }
    }

    .loginContainer {
        &::after {
            right: 9.5%;
        }
    }
}

@media screen and (max-width: 1650px) {
    .accountContainer {
        &::after {
            right: 14%;
        }
    }

    .loginContainer {
        &::after {
            right: 10%;
        }
    }
}

@media screen and (max-width: 1600px) {
    .accountContainer {
        &::after {
            right: 15.5%;
        }
    }

    .loginContainer {
        &::after {
            right: 10.5%;
        }
    }
}

@media screen and (max-width: 1550px) {
    .accountContainer {
        &::after {
            right: 17%;
        }
    }

    .loginContainer {
        &::after {
            right: 11.5%;
        }
    }
}

@media screen and (max-width: 1500px) {
    .accountContainer {
        &::after {
            right: 17.5%;
        }
    }

    .loginContainer {
        &::after {
            right: 12%;
        }
    }
}