// CSS for anything in the cart checkout page

.cartPage {
    width: 100%;
    max-width: 1280px;
    margin: auto;

    &__banner {
        width: 100%;
        height: 150px;
        background-image: url(../../images/banner.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        &__shipping {
            width: 100%;
            align-items: center;
            letter-spacing: 1px;
            font-size: 15px;
            display: flex;
            justify-content: center;
            padding: 30px 0px 30px 0px;

            i {
                font-size: 25px;
                margin-right: 10px;
                color: green;
            }
        }

        &__cartinfo {
            width: 100%;
            min-height: 500px;
            display: flex;
            justify-content: space-around;

            &__cartDisplay {
                width: 72%;
                max-width: 925px;
                display: block;
                background-color: $white;

                &__container {
                    width: 100%;
                    min-height: 100px;
                    background-color: $burg;
                    border-radius: 15px;
                    padding: 22px;
                    margin-bottom: 30px;

                    &__message {
                        h1 {
                            margin-bottom: 8px;
                            font-size: 18px;
                            font-weight: normal;
                        }

                        p {
                            font-size: 12px;
                            font-style: italic;
                            margin-bottom: 0px;
                        }
                    }

                    &__coffeelist {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        &__item {
                            width: 100%;
                            height: 175px;
                            display: flex;
                            background-color: $white;
                            margin-top: 25px;
                            position: relative;

                            &__left {
                                width: 50%;
                                height: 100%;
                                display: flex;

                                &__image {
                                    width: 40%;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    padding: 13px;

                                    img {
                                        width: 100%;
                                    }
                                }

                                &__name {
                                    width: 60%;
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: start;
                                    justify-content: center;

                                    h1 {
                                        font-size: 14px;
                                        font-weight: normal;
                                        font-style: italic;
                                    }

                                    p {
                                        font-size: 16px;
                                    }
                                }
                            }

                            &__right {
                                width: 50%;
                                display: flex;

                                &__unitPrice {
                                    width: 50%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    p {
                                        margin-bottom: 0px;
                                        margin-right: 15px;
                                        font-style: italic;

                                    }

                                    select {
                                        padding: 8px;
                                        border: 3px solid $buttonYellow;
                                    }
                                }

                                &__subtotal {
                                    width: 50%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: end;
                                    margin-right: 35px;
                                    position: relative;

                                    p {
                                        font-style: italic;
                                        margin-bottom: 0px;
                                    }

                                    .maxqty {
                                        color: $red;

                                        &::after {
                                            content: "MAX PER ORDER REACHED";
                                            font-size: 11px;
                                            position: absolute;
                                            color: $red;
                                            right: 0;
                                            top: 56%;
                                        }
                                    }
                                }
                            }

                            &__close {
                                position: absolute;
                                right: 35px;
                                top: 10%;
                                display: flex;
                                align-items: center;
                                color: $textDealGrey;

                                &:hover {
                                    cursor: pointer;
                                }

                                p {
                                    margin-right: 10px;
                                    margin-bottom: 0px;
                                    font-size: 13px;
                                    line-height: 13px;
                                    display: table-cell;
                                    vertical-align: middle;
                                    text-decoration: underline;
                                    font-style: italic;
                                }
                            }

                            &:last-child {
                                border-radius: 0px 0px 15px 15px;
                            }

                            &:first-child {
                                margin-top: 20px;
                            }
                        }
                    }
                }

                &__coupon {
                    width: 100%;
                    display: block;
                    background-color: $white;
                    padding: 30px 25px 30px 25px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: $black;

                    p {
                        font-size: 20px;
                        margin-bottom: 0px;
                        font-weight: lighter;
                    }

                    &__couponInput {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        input {
                            width: 225px;
                            padding: 10px;
                            background-color: $white;
                            border: 3px solid $gray;
                            border-right: none;

                            &::placeholder {
                                letter-spacing: 1px;
                            }
                        }

                        button {
                            background-color: $white;
                            border: 3px solid $buttonYellow;
                            padding: 10px;
                            letter-spacing: 1px;

                            &:hover {
                                cursor: pointer;
                                border: 3px solid $black;
                            }
                        }
                    }

                }
            }

            &__total {
                width: 23.5%;
                max-width: 300px;
                display: block;

                &__container {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    min-height: 100px;
                    background-color: $white;
                    border-radius: 15px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

                    h1 {
                        font-weight: normal;
                        font-size: 15px;
                        margin-bottom: 0px;
                    }

                    p {
                        font-weight: normal;
                        font-size: 15px;
                        margin-bottom: 0px;
                    }

                    &__header {
                        width: 100%;
                        padding: 20px 20px 0px 20px;
                        margin-bottom: 15px;

                        h1 {
                            font-size: 19px;
                        }
                    }

                    &__subtotal {
                        width: 100%;
                        padding: 0px 20px 0px 20px;
                        margin-bottom: 5px;
                        display: flex;
                        justify-content: space-between;

                        h1,
                        p {
                            font-size: 16px;
                        }
                    }

                    .firstHr {
                        margin: 0px 20px 15px 20px;
                        border-top: 3px dotted #000;

                    }

                    &__savings {
                        display: flex;
                        justify-content: space-between;
                        padding: 0px 20px 1px 20px;

                        h1,
                        p {
                            font-size: 16px;
                        }

                        p {
                            color: $red;
                        }
                    }

                    &__addCoupon {
                        display: flex;
                        justify-content: space-between;
                        padding: 0px 20px 1px 20px;

                        &:hover {
                            cursor: pointer;
                        }

                        h1 {
                            color: #7bcfff;
                            font-size: 16px;
                        }
                    }

                    &__shipping {
                        display: flex;
                        justify-content: space-between;
                        padding: 0px 20px 1px 20px;

                        h1,
                        p {
                            font-size: 16px;
                        }

                        p {
                            color: #498851;
                        }
                    }

                    &__tax {
                        display: flex;
                        justify-content: space-between;
                        padding: 0px 20px 1px 20px;
                        margin-bottom: 15px;

                        h1,
                        p {
                            font-size: 16px;
                        }
                    }

                    &__orderTotal {
                        display: flex;
                        justify-content: space-between;
                        padding: 8px 10px 8px 20px;
                        margin: 0px 20px 10px 0px;
                        background-color: $burg;
                        border-radius: 0px 25px 25px 0px;

                        h1,
                        p {
                            font-size: 16px;
                        }
                    }

                    .secondHr {
                        margin: 0px 20px 5px 20px;
                        border-top: 3px dotted #000;
                    }

                    &__paymentButtons {
                        display: flex;
                        flex-direction: column;
                        padding: 0px 20px 20px 20px;
                        position: relative;

                        p {
                            margin-bottom: 0px;
                            font-size: 15px;
                            color: $red;
                            position: absolute;
                            width: calc(100% - 40px);
                            text-align: center;
                            opacity: 0;
                            transition: all .5s ease-in-out;
                            font-weight: bold;
                        }

                        button {
                            width: 100%;
                            padding: 10px 0px 10px 0px;
                            align-items: center;
                            margin-top: 20px;
                            border: 2px solid transparent;
                            transition: all .5s ease-in-out;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        #checkout {
                            background-color: $buttonYellow;
                            font-size: 16px;
                            border: none;
                        }

                        #checkoutPaypal {
                            border: none;
                            font-size: 16px;
                            background-color: #ebebeb;

                            i {
                                color: #7bcfff;
                            }
                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .cartPage {
        max-width: 1200px;

        &__content {
            &__cartinfo {
                &__cartDisplay {
                    &__container {
                        &__coffeelist {
                            &__item {
                                &__left {
                                    &__name {
                                        h1 {
                                            font-size: 13px;
                                        }

                                        p {
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &__total {
                    &__container {
                        h1 {
                            font-size: 13.5px;
                        }

                        p {
                            font-size: 13.5px;
                        }

                        &__header {
                            h1 {
                                font-size: 18px;
                            }
                        }

                        &__subtotal {

                            h1,
                            p {
                                font-size: 14.5px;
                            }
                        }

                        &__savings {

                            h1,
                            p {
                                font-size: 14.5px;
                            }
                        }

                        &__addCoupon {
                            h1 {
                                font-size: 14.5px;
                            }
                        }

                        &__shipping {

                            h1,
                            p {
                                font-size: 14.5px;
                            }
                        }

                        &__tax {

                            h1,
                            p {
                                font-size: 14.5px;
                            }
                        }

                        &__orderTotal {

                            h1,
                            p {
                                font-size: 14.5px;
                            }
                        }

                        &__paymentButtons {
                            p {
                                font-size: 14px;
                            }

                            #checkout {
                                font-size: 15px;
                            }

                            #checkoutPaypal {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .cartPage {
        max-width: 1150px;

        &__content {
            &__shipping {
                font-size: 13px;

                i {
                    font-size: 20px;
                }
            }

            &__cartinfo {
                &__cartDisplay {
                    width: 71%;

                    &__container {
                        &__coffeelist {
                            &__item {
                                &__left {
                                    &__name {
                                        h1 {
                                            font-size: 11.5px;
                                        }

                                        p {
                                            font-size: 13.5px;
                                        }
                                    }
                                }

                                &__right {
                                    &__unitPrice {
                                        font-size: 14px;
                                    }

                                    &__subtotal {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }

                    &__coupon {
                        padding: 25px 20px 25px 20px;

                        p {
                            font-size: 18px;
                        }

                        &__couponInput {

                            input {
                                width: 220px;
                                padding: 8px;
                            }

                            button {
                                padding: 8px;
                            }
                        }

                    }
                }

                &__total {
                    width: 24.5%;

                    &__container {
                        h1 {
                            font-size: 13.5px;
                        }

                        p {
                            font-size: 13.5px;
                        }

                        &__header {
                            h1 {
                                font-size: 18px;
                            }
                        }

                        &__subtotal {

                            h1,
                            p {
                                font-size: 14.5px;
                            }
                        }

                        &__savings {

                            h1,
                            p {
                                font-size: 14.5px;
                            }
                        }

                        &__addCoupon {
                            h1 {
                                font-size: 14.5px;
                            }
                        }

                        &__shipping {

                            h1,
                            p {
                                font-size: 14.5px;
                            }
                        }

                        &__tax {

                            h1,
                            p {
                                font-size: 14.5px;
                            }
                        }

                        &__orderTotal {

                            h1,
                            p {
                                font-size: 14.5px;
                            }
                        }

                        &__paymentButtons {
                            p {
                                font-size: 14px;
                            }

                            #checkout {
                                font-size: 15px;
                            }

                            #checkoutPaypal {
                                font-size: 15px;
                            }
                        }
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 1150px) {
    .cartPage {
        &__content {
            &__cartinfo {
                padding-left: 18px;
                padding-right: 18px;
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    .cartPage {
        &__content {
            &__shipping {
                font-size: 13px;

                i {
                    font-size: 20px;
                }
            }

            &__cartinfo {
                &__cartDisplay {
                    width: 70%;

                    &__container {
                        &__coffeelist {
                            &__item {
                                &__left {
                                    &__name {
                                        h1 {
                                            font-size: 10.5px;
                                        }

                                        p {
                                            font-size: 12.5px;
                                        }
                                    }
                                }

                                &__right {
                                    &__unitPrice {
                                        font-size: 12px;
                                    }

                                    &__subtotal {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }

                    &__coupon {
                        padding: 25px 20px 25px 20px;

                        p {
                            font-size: 16px;
                        }

                        &__couponInput {

                            input {
                                width: 220px;
                                padding: 8px;
                            }

                            button {
                                padding: 8px;
                            }
                        }

                    }
                }

                &__total {
                    width: 26.5%;

                    &__container {
                        h1 {
                            font-size: 11.5px;
                        }

                        p {
                            font-size: 11.5px;
                        }

                        &__header {
                            h1 {
                                font-size: 17px;
                            }
                        }

                        &__subtotal {

                            h1,
                            p {
                                font-size: 13px;
                            }
                        }

                        &__savings {

                            h1,
                            p {
                                font-size: 13px;
                            }
                        }

                        &__addCoupon {
                            h1 {
                                font-size: 13px;
                            }
                        }

                        &__shipping {

                            h1,
                            p {
                                font-size: 13px;
                            }
                        }

                        &__tax {

                            h1,
                            p {
                                font-size: 13px;
                            }
                        }

                        &__orderTotal {

                            h1,
                            p {
                                font-size: 13px;
                            }
                        }

                        &__paymentButtons {
                            p {
                                font-size: 13px;
                            }

                            #checkout {
                                font-size: 13px;
                            }

                            #checkoutPaypal {
                                font-size: 13px;
                            }
                        }
                    }
                }

            }
        }
    }
}